body{
background-color: rgb(108, 171, 234);
}

.block2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 600px;
  background-color: rgb(223, 237, 245);
  margin: auto;
}

img{
  box-shadow: 10px 5px 5px rgb(66, 93, 114);
}

.list{
  display: flex;
  justify-content: center;
}

h1{
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  color: rgb(42, 92, 163);
}

input{
  border: 1px rgb(84, 117, 194) solid;
  padding: 10px;
  margin-top: 10px;
  color:rgb(27, 60, 105);
}


.cross{
  text-decoration: line-through 2px rgb(248, 113, 113);
}

.block{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

button{
  padding: 5px;
  width: 150px;
  margin: 20px;
  font-family: 'Pacifico', cursive;
  color: rgb(42, 92, 163);
  border: none;
  background-color: rgb(250, 193, 209);
  box-shadow: 10px 5px 5px rgb(66, 93, 114);
}

li{
  color:rgb(27, 60, 105);
  font-size: 15px;
  background-color: rgb(249, 247, 245);
  padding: 1px;
  width: 120px;
  border: 1px solid rgb(100, 133, 161);
  font-family: 'Pacifico', cursive;
}